<div class="container">

  <div class="row">
    <div class="col-md-12"> <h3>SkyStore purchases</h3> </div>
  </div>

  <div class="row">
    <div class="col-md-12"> <h4>Rentals</h3> </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-8">Title</th>
            <th class="col-md-4">Cost</th>
          </tr>
        </thead>
        <tbody>
          <% @bill.rentals.each do |rental| %>
          <tr>
            <td class="col-md-8"><%= rental["title"] %></td>
            <td class="col-md-4">£<%= "%.02f" % rental["cost"] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12"> <h4>Buy And Keep</h3> </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-8">Title</th>
            <th class="col-md-4">Cost</th>
          </tr>
        </thead>
        <tbody>
        <% @bill.buy_and_keep.each do |purchase| %>
          <tr>
            <td class="col-md-8"><%= purchase["title"] %></td>
            <td class="col-md-4">£<%= "%.02f" % purchase["cost"] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4" id="sky-store-total">
      <table class="table table-hover">
        <tbody>
            <tr>
              <th><h4>Subtotal:</h4></th>
              <td><h4>£<%= @bill.sky_store_total %></h4></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
